/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
.button {
    background-color: #e3001b;
    color: #fff;
}

.button:hover {
    color: #fff;
    background-color: #e3100b;
}

.button::selection {
    color: #fff;
    background-color: #e3100b;
}

.button:visited {
    background-color: #e3001b;
    color: #fff;
}

@font-face {
  font-family: 'unihildesheim';
  src: url('../../fonts/unihildesheim.woff') format('woff')
}

/**
 * Clipboard.js styles
 */
input.clipboardjs {
  padding: 7px 8px;
  margin-top: 5px;
  width: 700px;
  min-height: 32px;
}

.clipboardjs-button {
  margin-top: 5px;
}

.clipboardjs-button > img {
  height: 16px;
  width: 14px;
}

