/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
.button {
    background-color: #e3001b;
    color: #fff;
}

.button:hover {
    color: #fff;
    background-color: #e3100b;
}

.button::selection {
    color: #fff;
    background-color: #e3100b;
}

.button:visited {
    background-color: #e3001b;
    color: #fff;
}

@font-face {
  font-family: 'unihildesheim';
  src: url('../../fonts/unihildesheim.woff') format('woff')
}

