#button_submit {
  background-color: #0a7bc1;
  visibility: hidden;
  display: none;  /* completely hide it, so it doesn't affect other elements */
}

.button.form-submit {
  display: block;
  margin-top: 10px;
}

.explanation-header {
  color: #fff;
  margin: 0 -10px 10px !important;
  padding: 10px
}

.explanation-header > h3 {
  margin: 0;
}

#edit-frage .form-type-radio,
#edit-antwort .form-type-radio {
  margin: 0;
}

#erwartungscheck,
#fachquiz {
  border-style: solid;
  border-width: 5px;
  border-color: #6ab023;
  padding: 15px;
}

#rid-content {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #4d4d4d;
}
