{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: sip_theme
 * Generated on: Thu, 10 Jan 19 21:46:34 +0100
 */
#}
{{ attach_library('sip_theme/sip_theme.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
