/**
 * Branding styles
 *  - Drupal core branding block.
 ============================================================================ */
.page {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.2;
  color: inherit;
  font-weight: 300;
  font-size: 18px;

}

.tool h2 {
  font-size: 26px;
}

#sip-image {
  width: 1170px;
  margin-top: 15px;
}
.navbar-brand {
  height: 150px;
  width: 120px;
  padding: 15px 0;
  float: left;
  font-size: 18px;
  line-height: 22px;
}

.zsb-container {
  width: 1200px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.brand-border {
  background-color:#e3001b
}

.brand-border ul {
  list-style-type:none;
  padding-right:7px;
  line-height:40px;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:#fff;
  overflow:hidden
}
.brand-border ul li {
  display:inline;
  color:#fff
}
.brand-border ul li.home {
  margin-right:5px;
  margin-left:-8px
}
.brand-border ul li.home .icon-home:before {
  line-height:40px;
  font-size:16px;
  vertical-align:middle;
  content: "\6d";
  font-family: "unihildesheim" !important;
}
.brand-border ul li a {
  text-decoration:none;
  color:#fff
}

@media (min-width:768px) {
  .brand-border ul li {
    line-height:50px
  }
  .brand-border ul li.first-brand {
    background-color:#fff;
    padding-top:20px;
    padding-bottom:20px;
    color:#e3001b;
    position:relative;
    padding-left:20px
  }

  .brand-border ul li.first-brand a {
    color:#e3001b
  }

  .brand-border ul li.first-brand:after {
    top:50%;
    right:-10px;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    border-color:transparent;
    border-left-color:#fff;
    border-width:27px 0 27px 11px;
    margin-top:-27px;
    -webkit-transform:rotate(360deg)
  }
  .brand-border ul li.first-brand:before {
    top:50%;
    left:-1px;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    border-color:transparent;
    border-left-color:#e3001b;
    border-width:27px 0 27px 11px;
    margin-top:-27px;
    -webkit-transform:rotate(360deg)
  }
}

.block-plugin-id--system-branding-block {
  margin: 1.25rem 0;
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-branding__text, .site-branding__name, .site-branding__slogan {
  display: block;
}

.site-branding__logo-link {
  display: block;
  padding-right: 1rem;
}

.site-branding__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.site-branding__name {
  font-size: 1.25rem;
  padding-right: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 60.0625em) {
  .site-branding__name {
    font-size: 1.625rem;
  }
}

.site-branding__name-link:hover, .site-branding__name-link:focus {
  text-decoration: none;
}

.site-branding__slogan {
  font-weight: 400;
}
/*# sourceMappingURL=block--branding.css.map */
